<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title" id="title">{{post.title}}</h5>
    <p class="card-text" id="body">{{post.body}}</p>
  </div>
  <div class="card-footer text-muted" id="name">
    created by: {{user.name}}
  </div>
</div>